flows (4).json
[
    {
        "id": "8a72acb6f4d06675",
        "type": "tab",
        "label": "LIGHT_PROJECT_FLUX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82111b6ba98b2436",
        "type": "group",
        "z": "8a72acb6f4d06675",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "026d7abc936b1cc6",
            "715f1c79a1829235",
            "0ef2f6f2668c4d09",
            "be1555565fbbae8a",
            "4c618c02b4599b45",
            "b3086eaa3ad6c1f3",
            "9a029cc316f909a4",
            "32b3ebc539f95c4e",
            "57d901db77bb076c",
            "5e7403856479b96d",
            "166b88774df7d16f"
        ],
        "x": 14,
        "y": -1,
        "w": 912,
        "h": 302
    },
    {
        "id": "609fae2bf2f0ee17",
        "type": "group",
        "z": "8a72acb6f4d06675",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1bcc548dcb112757",
            "5dadda303f8f0d36",
            "4fcba3193ebb6eaf",
            "26b6807c4067a0d3",
            "4aa9de9825046826",
            "11baefff4a88151f",
            "5613116af87d6ca5",
            "6b39ac4e40dba2f9",
            "8695d4052506c17c",
            "df87edcb7f045862",
            "b7498e3b8af1aa30",
            "e78b5cbf4a7387ad",
            "16d1bd4f40740dbf"
        ],
        "x": 14,
        "y": 299,
        "w": 652,
        "h": 322
    },
    {
        "id": "442a948bf6ced58c",
        "type": "group",
        "z": "8a72acb6f4d06675",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1d57cbc6545e67d9",
            "5bb9ee8c93a5987e",
            "185b1c92b74c2757",
            "4a04874afe75592d",
            "c2efbf06e85ffc07",
            "e08d9dad578c5c25",
            "b2c7b9b05e15e6b7",
            "029ac258c65cb483",
            "c0bae6bb55bcc2e6",
            "aa5b55b28bd77167"
        ],
        "x": 674,
        "y": 339,
        "w": 812,
        "h": 282
    },
    {
        "id": "fb55de3d44163b9b",
        "type": "group",
        "z": "8a72acb6f4d06675",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ad53893556a892a2",
            "591cbe1af468195e",
            "5667c2dab85932b3",
            "5bf85a65fa1abe4c",
            "c681cbe411a31bfc"
        ],
        "x": 934,
        "y": 39,
        "w": 432,
        "h": 262
    },
    {
        "id": "25370c7eb7a2f638",
        "type": "group",
        "z": "8a72acb6f4d06675",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7b2c4ed7574b0e2c",
            "77b11930ce69da03",
            "51b8ac71b5792c64",
            "a044504265521084",
            "a9eef4034948864c",
            "c94be2fe2b4e0caf",
            "0ddc0ea46a287e61",
            "7b5da322123a23da"
        ],
        "x": 1374,
        "y": -1,
        "w": 352,
        "h": 322
    },
    {
        "id": "2f75ba0abd63fbd5",
        "type": "group",
        "z": "8a72acb6f4d06675",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0da16215c8fecc13",
            "69671f7e8fc23103",
            "a4a454d54d4f0361",
            "58e6a4135e6ce6ee",
            "a0d3ec1e931675a9"
        ],
        "x": 594,
        "y": 639,
        "w": 592,
        "h": 242
    },
    {
        "id": "026d7abc936b1cc6",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "",
        "topic": "sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "4c618c02b4599b45",
                "9a029cc316f909a4",
                "166b88774df7d16f"
            ]
        ]
    },
    {
        "id": "715f1c79a1829235",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "",
        "topic": "sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "4c618c02b4599b45",
                "b3086eaa3ad6c1f3"
            ]
        ]
    },
    {
        "id": "0ef2f6f2668c4d09",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "",
        "topic": "sensor/motion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "4c618c02b4599b45",
                "57d901db77bb076c",
                "5e7403856479b96d"
            ]
        ]
    },
    {
        "id": "be1555565fbbae8a",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "",
        "topic": "sensor/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "4c618c02b4599b45",
                "32b3ebc539f95c4e"
            ]
        ]
    },
    {
        "id": "1bcc548dcb112757",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "topic": "status/LED",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "4aa9de9825046826"
            ]
        ]
    },
    {
        "id": "5dadda303f8f0d36",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "topic": "status/PIR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "4aa9de9825046826",
                "5613116af87d6ca5"
            ]
        ]
    },
    {
        "id": "4fcba3193ebb6eaf",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "topic": "status/dht22",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "4aa9de9825046826",
                "6b39ac4e40dba2f9",
                "df87edcb7f045862"
            ]
        ]
    },
    {
        "id": "26b6807c4067a0d3",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "topic": "status/LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "4aa9de9825046826",
                "8695d4052506c17c"
            ]
        ]
    },
    {
        "id": "4c618c02b4599b45",
        "type": "debug",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "4aa9de9825046826",
        "type": "debug",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "1d57cbc6545e67d9",
        "type": "mqtt out",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "",
        "topic": "led/r",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "018a65b3b95fe2cc",
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "5bb9ee8c93a5987e",
        "type": "mqtt out",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "",
        "topic": "led/g",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "018a65b3b95fe2cc",
        "x": 1410,
        "y": 440,
        "wires": []
    },
    {
        "id": "185b1c92b74c2757",
        "type": "mqtt out",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "",
        "topic": "led/b",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "018a65b3b95fe2cc",
        "x": 1410,
        "y": 480,
        "wires": []
    },
    {
        "id": "ad53893556a892a2",
        "type": "mqtt out",
        "z": "8a72acb6f4d06675",
        "g": "fb55de3d44163b9b",
        "name": "",
        "topic": "LEDRING",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "018a65b3b95fe2cc",
        "x": 1240,
        "y": 180,
        "wires": []
    },
    {
        "id": "11baefff4a88151f",
        "type": "mqtt in",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "topic": "status/LED_RING",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "018a65b3b95fe2cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "4aa9de9825046826"
            ]
        ]
    },
    {
        "id": "b3086eaa3ad6c1f3",
        "type": "ui_gauge",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "",
        "group": "5e909ffa42f59b72",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "591cbe1af468195e",
        "type": "open",
        "z": "8a72acb6f4d06675",
        "g": "fb55de3d44163b9b",
        "name": "Grafana",
        "target": "https://idirrebhi.grafana.net/d/aebijugia7sw0b/new-dashboard?orgId=1&from=2025-01-30T02:47:09.634Z&to=2025-01-30T03:47:09.634Z&timezone=browser&tab=queries&refresh=5s&viewPanel=panel-1",
        "app": "",
        "wait": false,
        "urlencode": false,
        "x": 1240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9a029cc316f909a4",
        "type": "ui_chart",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "name": "",
        "group": "5e909ffa42f59b72",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "32b3ebc539f95c4e",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "group": "5e909ffa42f59b72",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luminosité (Lux)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Impact,Impact,Charcoal,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "57d901db77bb076c",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "group": "5e909ffa42f59b72",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "mouvement",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "5667c2dab85932b3",
        "type": "ui_toast",
        "z": "8a72acb6f4d06675",
        "g": "fb55de3d44163b9b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK, je sais merci !",
        "cancel": "",
        "raw": false,
        "className": "LED Alumé",
        "topic": "Etat de la LED circulaire",
        "name": "",
        "x": 1270,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4a04874afe75592d",
        "type": "ui_colour_picker",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "",
        "label": "Couleur de la LED RGB",
        "group": "5e909ffa42f59b72",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 440,
        "wires": [
            [
                "e08d9dad578c5c25",
                "c2efbf06e85ffc07",
                "b2c7b9b05e15e6b7",
                "c0bae6bb55bcc2e6"
            ]
        ]
    },
    {
        "id": "5bf85a65fa1abe4c",
        "type": "ui_switch",
        "z": "8a72acb6f4d06675",
        "g": "fb55de3d44163b9b",
        "name": "",
        "label": "Allumer/Eteindre",
        "tooltip": "",
        "group": "5e909ffa42f59b72",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LEDRING",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "ad53893556a892a2",
                "5667c2dab85932b3"
            ]
        ]
    },
    {
        "id": "c2efbf06e85ffc07",
        "type": "function",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "red",
        "func": "var hexColor = msg.payload;\nvar r = parseInt(hexColor.substring(1, 3), 16);\nreturn { topic: \"led/r\", payload: r };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "1d57cbc6545e67d9"
            ]
        ]
    },
    {
        "id": "e08d9dad578c5c25",
        "type": "function",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "green",
        "func": "var hexColor = msg.payload;\nvar g = parseInt(hexColor.substring(3, 5), 16);\nreturn { topic: \"led/g\", payload: g };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "5bb9ee8c93a5987e"
            ]
        ]
    },
    {
        "id": "b2c7b9b05e15e6b7",
        "type": "function",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "blue",
        "func": "var hexColor = msg.payload;\nvar b = parseInt(hexColor.substring(5, 7), 16);\nreturn { topic: \"led/b\", payload: b };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 460,
        "wires": [
            [
                "185b1c92b74c2757"
            ]
        ]
    },
    {
        "id": "029ac258c65cb483",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "group": "5e909ffa42f59b72",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RGB CODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1390,
        "y": 580,
        "wires": []
    },
    {
        "id": "5e7403856479b96d",
        "type": "influxdb out",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "influxdb": "89eafaccd8aced64",
        "name": "INFLUX_OUT",
        "measurement": "movement_data_2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ummto",
        "bucket": "mqtt-data",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "166b88774df7d16f",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "82111b6ba98b2436",
        "group": "5e909ffa42f59b72",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Température",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "c0bae6bb55bcc2e6",
        "type": "function",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "function 1",
        "func": "// Récupère la couleur hexadécimale depuis le color picker\nlet hex = msg.payload.toString().replace(/^#/, '');\n\n// Si format court (#abc), on le convertit en format long (#aabbcc)\nif (hex.length === 3) {\n    hex = hex.split('').map(char => char + char).join('');\n}\n\n// Vérification du format\nif (hex.length !== 6) {\n    node.error(\"Format hexadécimal invalide\", msg);\n    return null;\n}\n\n// Conversion hex -> RGB\nlet r = parseInt(hex.substring(0, 2), 16);\nlet g = parseInt(hex.substring(2, 4), 16);\nlet b = parseInt(hex.substring(4, 6), 16);\n\n// Construction de la chaîne à afficher\nlet rgbString = `RGB(${r}, ${g}, ${b})`;\n\n// Envoi vers le dashboard\nmsg.payload = rgbString;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "029ac258c65cb483"
            ]
        ]
    },
    {
        "id": "c681cbe411a31bfc",
        "type": "ui_button",
        "z": "8a72acb6f4d06675",
        "g": "fb55de3d44163b9b",
        "name": "",
        "group": "5e909ffa42f59b72",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Visualiser dans Grafana",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "591cbe1af468195e"
            ]
        ]
    },
    {
        "id": "aa5b55b28bd77167",
        "type": "ui_slider",
        "z": "8a72acb6f4d06675",
        "g": "442a948bf6ced58c",
        "name": "",
        "label": "Ajuster la luminosité",
        "tooltip": "",
        "group": "5e909ffa42f59b72",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "LEDRING/brightness",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "1d57cbc6545e67d9",
                "5bb9ee8c93a5987e",
                "185b1c92b74c2757"
            ]
        ]
    },
    {
        "id": "5613116af87d6ca5",
        "type": "delay",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "b7498e3b8af1aa30"
            ]
        ]
    },
    {
        "id": "6b39ac4e40dba2f9",
        "type": "delay",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "e78b5cbf4a7387ad"
            ]
        ]
    },
    {
        "id": "8695d4052506c17c",
        "type": "delay",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "name": "",
        "pauseType": "delay",
        "timeout": "9",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "16d1bd4f40740dbf"
            ]
        ]
    },
    {
        "id": "7b2c4ed7574b0e2c",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "INFORMATIONS HUMID/TEMP",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#b73447",
        "x": 1530,
        "y": 80,
        "wires": []
    },
    {
        "id": "77b11930ce69da03",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "______________________________",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#00767b",
        "x": 1550,
        "y": 160,
        "wires": []
    },
    {
        "id": "51b8ac71b5792c64",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 14,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Controle Eclairage",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#b73447",
        "x": 1490,
        "y": 120,
        "wires": []
    },
    {
        "id": "a044504265521084",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 9,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Stats",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#b73447",
        "x": 1450,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9eef4034948864c",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 13,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "______________________________",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#00767b",
        "x": 1550,
        "y": 200,
        "wires": []
    },
    {
        "id": "c94be2fe2b4e0caf",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 8,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "______________________________",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#00767b",
        "x": 1550,
        "y": 240,
        "wires": []
    },
    {
        "id": "0da16215c8fecc13",
        "type": "openweathermap",
        "z": "8a72acb6f4d06675",
        "g": "2f75ba0abd63fbd5",
        "name": "weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Tizi Ouzou",
        "country": "Algérie",
        "language": "en",
        "x": 860,
        "y": 780,
        "wires": [
            [
                "a4a454d54d4f0361",
                "58e6a4135e6ce6ee"
            ]
        ]
    },
    {
        "id": "69671f7e8fc23103",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "2f75ba0abd63fbd5",
        "group": "5e909ffa42f59b72",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Météo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#e6e6e6",
        "x": 1070,
        "y": 780,
        "wires": []
    },
    {
        "id": "a4a454d54d4f0361",
        "type": "function",
        "z": "8a72acb6f4d06675",
        "g": "2f75ba0abd63fbd5",
        "name": "weather_function",
        "func": "if (!msg.payload || !msg.payload.tempk || !msg.payload.detail) {\n    node.error(\"Les données OpenWeatherMap sont incomplètes\", msg);\n    return null;\n}\n\n// Conversion de la température de Kelvin en Celsius\nlet temperatureC = (msg.payload.tempk - 273.15).toFixed(1);\nlet weatherDescription = msg.payload.detail;\n\nmsg.payload = `🌡  Température: ${temperatureC}°C\\n 🌤  Temps: ${weatherDescription}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "69671f7e8fc23103"
            ]
        ]
    },
    {
        "id": "58e6a4135e6ce6ee",
        "type": "debug",
        "z": "8a72acb6f4d06675",
        "g": "2f75ba0abd63fbd5",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "a0d3ec1e931675a9",
        "type": "ui_button",
        "z": "8a72acb6f4d06675",
        "g": "2f75ba0abd63fbd5",
        "name": "",
        "group": "5e909ffa42f59b72",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Afficher météo locale",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 680,
        "wires": [
            [
                "0da16215c8fecc13"
            ]
        ]
    },
    {
        "id": "df87edcb7f045862",
        "type": "ui_toast",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "position": "bottom left",
        "displayTime": "4",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Données publiées et arrivées",
        "name": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "b7498e3b8af1aa30",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "group": "5e909ffa42f59b72",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Etat PIR : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "e78b5cbf4a7387ad",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "group": "5e909ffa42f59b72",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Etat DHT22 :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "16d1bd4f40740dbf",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "609fae2bf2f0ee17",
        "group": "5e909ffa42f59b72",
        "order": 23,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Etat LDR :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "0ddc0ea46a287e61",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 20,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Etat des capteurs",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#b73447",
        "x": 1610,
        "y": 40,
        "wires": []
    },
    {
        "id": "7b5da322123a23da",
        "type": "ui_text",
        "z": "8a72acb6f4d06675",
        "g": "25370c7eb7a2f638",
        "group": "5e909ffa42f59b72",
        "order": 19,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "______________________________",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#00767b",
        "x": 1550,
        "y": 280,
        "wires": []
    },
    {
        "id": "018a65b3b95fe2cc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "purplecuckoo-sxx6ui.a03.euc1.aws.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5e909ffa42f59b72",
        "type": "ui_group",
        "name": "LIGHT_PROJECT",
        "tab": "2a830bd1ed22c7e5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89eafaccd8aced64",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influx-data-mqtt",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "2a830bd1ed22c7e5",
        "type": "ui_tab",
        "name": "Controle",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]